@font-face {
  font-family: "font-1", sans-serif;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}
body {
  width: 100%;
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  font-family: "font-1", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  position: relative;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(186, 181, 181, 0.1);
  height: 100vh;
  width: 450px;
}
main {
  width: 700px;
  background: whitesmoke;
  border-left: 2px solid;
}
img {
  border-radius: 150px;
  border: 2px solid white;
  margin-left: 10px;
}

.about {
  margin-top: 5px;
  width: 300px;
}
h1,
h2 {
  font-weight: bold;
  padding: 10px 5px;
  text-transform: uppercase;
}
li,
p {
  padding: 5px;
}

.network {
  width: 300px;
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.jshape {
  position: absolute;
  top: 10px;
  left: 50px;
  border-radius: 50px;
}
.html {
  position: absolute;
}
.css {
  position: absolute;
}
.react {
  position: absolute;
  top: 50px;
  left: 310px;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}
